/*======Resets======*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style: none;
    padding: 0;
}

button{
    border: none;
}


/*======Variables======*/

:root{
    --pink: hsl(322, 100%, 66%);
    --light-pink:hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --dark-cyan: hsl(192, 100%, 9%);
    --pale-blue: #f7fcff;
    --poppins: 'Poppins', sans-serif;
}

/*======Action======*/

.btn{
    border-radius: 2em;
    cursor: pointer;

}

.container{
    padding: 2.75em 2.75em 0 2.75em;
}

/*======Navbar======*/

.nav-container{
    padding: 2em;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn{
    font-size: 12px;
    padding: .25em 1.5em;
    color: var(--pink);
    border: 1px solid var(--pink);
    background-color: white;
    cursor: pointer;

}

.logo{
    width: 120px;
}

/*======Hero======*/

.hero{
    margin-top: 5em;
    text-align: center;
    max-width: 700px;
    margin: 5em auto 0;
}



.hero-headline{
    font-family: var(--poppins);
    font-size: 1.75em;
    color: var(--dark-cyan);
    margin-bottom: .75em;
}

.hero-copy{
    color: var(--dark-cyan);
    margin-bottom: 3em;
}

.cta-btn{
    color: white;
    background-color: var(--pink);
    font-weight: 700;
    padding: .75em 3em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cta-btn:hover{
    opacity: .75;
}

.hero-img{
    max-width: 500px;
    margin: 10em auto 6em;
}

@media (min-width:600px){
    .hero{
        margin: 2em auto 0;
    }
    .hero-copy{
        margin: 0 auto 3em;
        max-width: 400px;
    }
    .hero-img{
        margin: 5em auto 5em;
    }
}


/*======Credentials======*/

                                /*Better solution?*/

.credentials{
    display: flex;
    flex-direction: column;
    gap: 8em;
    margin-bottom: 1em;
    text-align: center;
}

.credential{
    margin: 0 auto;
    width: 60%;
}

.credential-icon{
    width: 40px;
}


.credential-number{
    font-size: 10vw;
    font-weight: 700;
    color: var(--dark-cyan);
}


@media (min-width:600px){
    .credentials{
        flex-direction: row;
        justify-content: space-between;
        max-width: 600px;
        margin: 0 auto;
    }
    .credential {
        width: 180px;
    }
    .credential-number{
        font-size: 2.5em;
    }

}

/*======Sections======*/

section {
    text-align: center;
    padding: 2.75em;
}

.section-wrapper{
    max-width: 600px;
    margin: 0 auto;
}

.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

.section-copy > h2{
    font-family: var(--poppins);
    margin-bottom: 1em;
}

.section-img{
    display: flex;
    justify-content: center;
}

.section-img > img{
    width: 80%;
}

.grow-bg-top{
    background-image: url("images/bg-section-top-mobile-1.svg");
    repeat: no-repeat;
    background-size: cover;
    height: 120px;
}

.grow-bg-bottom{
    background-image: url("images/bg-section-bottom-mobile-1.svg");
    repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

.grow{
    background-color: var(--pale-blue);
}

.grow > .section-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 2em;
}


.flow > .section-wrapper{
    display: flex;
    flex-direction: column-reverse;
    gap: 2em;
}

.users{
    background-color: var(--pale-blue);
}

.users > .section-wrapper{
    display: flex;
    flex-direction: column-reverse;
    gap: 2em;
}

@media (min-width:600px){
    section {
        text-align: left;
        padding: 1em 5em;
    }
    .grow-bg-top{
        background-image: url("images/bg-section-top-desktop-1.svg");
        repeat: no-repeat;
        background-size: cover;
        max-height: 500px;
    }
    .grow-bg-bottom{
        background-image: url("images/bg-section-bottom-desktop-1.svg");
        repeat: no-repeat;
        background-size: cover;
        max-height: 100px;
    }
    .grow > .section-wrapper {
        flex-direction: row;
        align-items: center;
        gap: 2em;
    }
    .flow > .section-wrapper{
        flex-direction: row-reverse;
        align-items: center;
        gap: 2em;
    }
    .users > .section-wrapper{
        flex-direction: row;
        align-items: center;
        gap: 2em;
        background-color: var(--pale-blue);
    }
    .section-wrapper{
        max-width: 1200px;
        margin: 0 auto;
    }

}


/*======Final CTA======*/

.final-cta{
    text-align: center;
    margin: 8em 0;
}

.final-headline{
    font-family: var(--poppins);
    font-size: 1.75em;
    margin-bottom: 1.5em;
}


/*======Footer======*/

footer{
    color: white;
    background-color: var(--dark-cyan);
   
    padding: 2.5em;
}

.wrapper{
    display: flex;
    flex-direction: column-reverse;
    gap: 6em;
    margin: 0 auto;
}

.footer-bg{
    background-image: url("images/bg-footer-top-mobile.svg");
    repeat: no-repeat;
    background-size: cover;
    height: 100px;
}

.newsletter{
    display: flex;
    flex-direction: column;
    gap: 3em;
    max-width: 600px;
}

.newsletter > h3{
    font-size: 1.5em;
    text-transform: uppercase;
}

.newsletter-info{
    max-width: 80%;
}
.newsletter-signup > form{ 
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.input-field{
    padding: 1.25em 1em;
    width: 100%;
    border-radius: .5em;
}

.subscribe-btn{
    background-color: var(--pink);
    padding: 1em 3em;
    color: white;
    border-radius: .5em;
    font-weight: bold;
    margin-left: auto;
    cursor: pointer;
}

.company-info > p{
    font-weight: 600;
    margin-bottom: 2em;
    max-width: 350px;
}

.footer-logo{
    width: 200px;
    margin-bottom: 1em;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(221deg) brightness(105%) contrast(107%);
}

.phone,
.mail{
    margin-bottom: 1em;
}

.socials{
    margin-top: 1em;
    color: white;
    font-size: 2em;
    display: flex;
    gap: .5em;
}

@media (min-width:600px){
    .footer-bg{
        background-image: url("images/bg-footer-top-desktop.svg");
        height: 180px;
    }
    .wrapper{
        max-width: 1500px;
        flex-direction: row;
        justify-content: space-between;
    }
    .newsletter{
        gap: 1em;
    }
    .newsletter-signup > form{ 
        display: flex;
        flex-direction: row;
        gap: 1.5em;
    }
    .input-field{
        flex: 2;
        padding: .5em;
    }
    .subscribe-btn{
        flex: 1;
        font-size: .75em;
        cursor: pointer;

    }
}

